@import '/styles/utils/fonts';
@import '/styles/utils/colors';

.buttonNoColor {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 50px;
  padding: 14px 16px;
  @include font($openSans, 14px, $textColor, 500, 20px, 0.3px);
  background: 
    linear-gradient($white, $white) padding-box,
    linear-gradient(to right, #1fb7e7 -3.88%, #7370e7 25.48%, #be4be7 46.05%, #d44ca4 74.22%, #e93596 102.47%) border-box;
  border: 1px solid transparent;
  // border-image: linear-gradient(to right, #1fb7e7 -3.88%, #7370e7 25.48%, #be4be7 46.05%, #d44ca4 74.22%, #e93596 102.47%) 1;
  border-radius: 6px;
  cursor: pointer;

  &::before {
    content: '';
    background: $gradient;
    position: absolute;
    top: -3px;
    left: -3px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    // animation: glowing 30s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }

  &:hover {
    filter: brightness(110%);
    &::before {
      opacity: 0.25;
    }
  }

  &:focus-within,
  &:active,
  &:visited {
    filter: none;
    &::before {
      opacity: 0;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:hover {
    &:disabled {
      filter: none;
    }
  }

  &:disabled {
    background: $inactiveColor;
    border: 1px solid $inactiveColor;
    @include font($openSans, 14px, $white, normal, 20px, 0.3px);
    opacity: 0.75;
    &::before {
      opacity: 0;
    }
  }

  &:hover:not([disabled]) {
    filter: brightness(110%);
  }
}