$white: #fff;
$whiteOpacity: rgba(255, 255, 255, 0.8);
$wildSand: #f5f5f5;
$black: #000;
$slateGray: #6e7a8d;
$darkGray: #373f41;
$elephant: #0e243a;
$lightGray: #f3f6f9;
$geyser: #dde1e6;
$athensGray: #f5f5f7;
$silver: #c4c4c4;
$gray: #8b8b8b;
$biscay: #182960;
$sanMarino: #3c64b1;
$pictonBlue: #1fb7e7;
$mediumSlateBlue: #7370e7;
$lightPurple: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #6B3DD4;
$cornflowerBlue: #6195ed;
$blue: #1066ef;
$cornflowerPurple: #6b3dd4;
$inactiveColor: #8b95af;
$inactiveDarkColor: #74768e;
$mediumPurple: #be4be7;
$mulberry: #d44ca4;
$cerise: #e93596;
$fuschia: #ef5da8;
$froly: #f273a3;
$haiti: #080c21;
$haitiLowOpacity: rgba(8, 12, 33, 0.2);
$haitiOpacity:rgba(8, 12, 33, 0.4);
$haitiLight:rgba(8, 12, 33, 0.6);
$haitiFade: rgba(8, 12, 33, 0.8);
$cello: #243466;
$dodgerBlue: #1fbcff;
$persianPink: #f178B6;
$warningColor: #ff1f1f;
$pomegranate: #f03738;
$red: #ff0000;
$sunsetOrange: #ff4d4f;
$brownColor: rgb(120, 58, 81);
$darkPink: rgb(180, 87, 122);
$lightPink : linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #F273A3;
$textColor: rgba(23, 41, 97, 1);
$lightTextColor: rgba(40, 46, 64, 0.85);
$grayText: rgb(139, 149, 175);
$gradient: linear-gradient(78.6deg, #1fb7e7 -3.88%, #7370e7 25.48%, #be4be7 46.05%, #d44ca4 74.22%, #e93596 102.47%);
$gradientRevert: linear-gradient(78.6deg, #d44ca4 74.22%, #d44ca4 25.48%, #be4be7 46.05%, #7370e7 74.22%, #1fb7e7 102.47%);
$verticalGradient: linear-gradient(219.45deg, #1fb7e7 -26.67%, #7370e7 25.07%, #be4be7 61.33%, #d44ca4 110.98%, #e93596 160.76%);
$inputBorderColor: #c2c9d1;
$lightBorderColor: rgba(170, 186, 218, 0.5);
$borderColor: #aabada;
$grayBorder : #172961;
$appleGreenColor: #3cc13b;
$appleGreenOpacity: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #3cc13b;
$opacityBackground: rgba(255, 255, 255, 0.95);
$lightGreen: #cfeecf;
$lightGrayBackground: linear-gradient(0deg, rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97)), #172961;
$highOpacityBackground: rgba(255, 255, 255, 0.1);
$grayBackground: linear-gradient(180deg, #fff 0%, #eff3f5 100%, #d2dce1 100%);
$purpleHeartFadeBackground: rgba(239, 93, 168, 0.21);
$greenTextColor: #22af41;
$pinkTextColor: #e453aa;
$purpleTextColor: #7370e7;
