$containerWidth: 1110px;
$navBarHeight: 88px;
$sideSpace: calc((100vw - $containerWidth) / 2);
$offsetSideSpace: calc((100vw - $containerWidth) * -1 / 2);
$formInputWidth: 285px;
$formSlideWidth: 350px;
